#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.TextField {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Button {
  background-color: #0084ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
}

.App {
  background-color: #fff;
  font-family: Arial;
}

.my-message {
  text-align: right;
  background-color: lightblue;
  padding: 10px;
  margin: 10px;
}

.other-message {
  text-align: left;
  background-color: lightgray;
  padding: 10px;
  margin: 10px;
}
